altgraph==0.17.4
asgiref==3.10.0
cmake==4.1.2
Django==5.2.8
FreeSimpleGUI==5.2.0.post1
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pefile==2023.2.7
pyarrow==22.0.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pyperclip==1.11.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
pygame==2.6.1